*{
    margin: 0;
    padding: 0;
    box-sizing: border_box;
    list-style: none;


}

body{
    background-color : red;

}


/* variables defined in root can be used anywhere in the CSS files these are kept here so u have many choices to easily pull from -->
  /* Main colors */

  /* This is a comment check google fonts to choose ur font for ur
  ideal profile and before this to check if webiste is launching add
  background color its removed for now . Everything found in this body
  can be seen on the portfolio webiste*/